<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="encoderFile" value="HandbrakeCLI.exe" />
		<add key="encoderParameters" value="-i &quot;{0}&quot; -o &quot;{1}&quot; --preset=&quot;High Profile&quot; --decomb" />
		<add key="outputType" value="mp4" />
		<add key="connstr" value="Data Source=C:\Users\Public\NPVR\npvr.db3;Version=3;" />
		<add key="dbtype" value="sqlite" />
		<add key="smbpathreplace" value="" />
		<add key="smbpathreplacement" value="" />
	</appSettings>	
</configuration>
